<style>
	.curridtl {
		height: 97rem;
	}
	.curridtlcanvas {
		height: 96rem;
	}
</style>
<div class="row" ng-controller="FacutyLoadingController" ng-init="init()">
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12">
				<div class="list-group">
					<div class="list-group-item list-group-header">
						<div class="btn-group btn-group-sm pull-right" uib-dropdown>
							<button class="btn btn-default disabled">{{FirstItem}} - {{LastItem}} of {{TotalItems}}</button>
							<button class="btn btn-default" ng-disabled="!PrevPage || DataLoading" ng-click="navigatePage(PrevPage)"><span class="glyphicon glyphicon-chevron-left"></span></button>
							<button class="btn btn-default" ng-disabled="!NextPage || DataLoading" ng-click="navigatePage(NextPage)"><span class="glyphicon glyphicon-chevron-right"></span></button>
							
							  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" uib-dropdown-toggle>
								<span class="glyphicon glyphicon-chevron-down"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li><a href="#/">Sort</a></li>
								<li><a href="#/">Filter</a></li>
								<li><a href="#/">Go to Page</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#/">Some other link</a></li>
								
							  </ul>
						</div>
						<label>Existing Faculty Loadings</label>
					</div>
					<div class="list-group-canvas list-group-search-results">
					   <div class="list-group-item text-center" ng-if="SearchBox">
						<h4 class="list-group-item-heading">Search result(s) for <b><i>{{SearchBox}}</i></b>.</h4>
						<p class="list-group-item-text">
							Click the <span class="glyphicon glyphicon-search" aria-hidden="true"></span> to look further.
							Click the <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> to cancel.
						</p>
					  </div>
					  <div class="list-group-item text-center" ng-if="!FacultyLoadings.length">
							Loading...
					   </div>
						<div class="list-group-item" ng-repeat="load in FacultyLoadings | filter:filterTemplates" >
							<h4 class="list-group-item-heading">{{load.subject.name}}</h4>
							<p class="list-group-item-text">  {{load.subject.description}} | {{load.year_level.name}}-{{load.section.name}} | SY: {{load.sy}} - {{load.sy+1}}</p>
						</div>
					</div>
					<div class="list-group-item list-group-search-box">
						<div class="input-group"> 
							<div class="input-group-btn" ng-click="confirmSearch()"><button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></div>
							<input type="text" class="form-control" ng-model="SearchBox" placeholder="Search" focus="true" />
							<div class="input-group-btn" ng-click="cancelSearch()"><button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button></div>
						</div>
					  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="list-group">
					<div class="list-group-item list-group-header">
						<button class="btn btn-xs btn-success" ng-click="addSubject()"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
						<div class="btn-group btn-group-sm pull-right" uib-dropdown>
							<button class="btn btn-default disabled">{{FirstItem}} - {{LastItem}} of {{TotalItems}}</button>
							<button class="btn btn-default" ng-disabled="!PrevPage || DataLoading" ng-click="navigatePage(PrevPage)"><span class="glyphicon glyphicon-chevron-left"></span></button>
							<button class="btn btn-default" ng-disabled="!NextPage || DataLoading" ng-click="navigatePage(NextPage)"><span class="glyphicon glyphicon-chevron-right"></span></button>
							
							  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" uib-dropdown-toggle>
								<span class="glyphicon glyphicon-chevron-down"></span>
							  </button>
							  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li><a href="#/">Sort</a></li>
								<li><a href="#/">Filter</a></li>
								<li><a href="#/">Go to Page</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="#/">Some other link</a></li>
								
							  </ul>
						</div>
						<label>Subjects / Year Levels</label>
					</div>
					<div class="list-group-canvas list-group-search-results">
					   <div class="list-group-item text-center" ng-if="SearchBox">
						<h4 class="list-group-item-heading">Search result(s) for <b><i>{{SearchBox}}</i></b>.</h4>
						<p class="list-group-item-text">
							Click the <span class="glyphicon glyphicon-search" aria-hidden="true"></span> to look further.
							Click the <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> to cancel.
						</p>
					  </div>
					  <div class="list-group-item text-center" ng-if="!Components.length">
							Loading...
					   </div>
						<div class="list-group-item" ng-repeat="component in Components | filter:filterComponents" >
							<div class="row">
								<div class="col-md-8">
									<h4 class="list-group-item-heading">{{component.description}}</h4>
									<p class="list-group-item-text">Code:{{component.code}} | Percentage:{{component.percentage}}</p>
								</div>
								<div class="col-md-4">
									<button class="btn btn-info pull-right" ng-click="pushSub(subject)"><span class="glyphicon glyphicon-hand-right"></span></button>
								</div>
							</div>
						</div>
					</div>
					<div class="list-group-item list-group-search-box">
						<div class="input-group"> 
							<div class="input-group-btn" ng-click="confirmSearch()"><button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></div>
							<input type="text" class="form-control" ng-model="SearchBox" placeholder="Search" focus="true" />
							<div class="input-group-btn" ng-click="cancelSearch()"><button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button></div>
						</div>
					  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="list-group curridtl" >
			<div class="list-group-item list-group-header">
				<button class="btn btn-xs btn-danger" ng-click="deleteSubject()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
				<label>Faculty Loading Details</label>
				<div class="btn-group btn-group-sm pull-right" uib-dropdown>
					  <button class="btn btn-default dropdown-toggle" type="button"  uib-dropdown-toggle>
						<span class="glyphicon glyphicon-chevron-down"></span>
					  </button>
					  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						<li><a href="#/">Save</a></li>
						<li><a href="#/">Copy</a></li>
						<li><a href="#/">delete</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#/">Some other link</a></li>
					  </ul>
				</div>
			</div>
			<div class="list-group-canvas curridtl"> 
				<div class="list-group-item curridtlcanvas"> 
					<table ui-tree class="table table-bordered table-condensed table-sort" >
						<thead>
							<tr>
								<th colspan="4"><center>Loadings</center></th>
							</tr>
							<tr>
								<th>Subject</th>
								<th>Grade / Section</th>
								<th>Remove</th>
							</tr>
						</thead>
						<tbody >
							<tr>
								<td class="col-md-5">English 1</td>
								<td class="col-md-6">Grade 7 - Pilot</td>
								<td class="col-md-1 "><button class="btn btn-info pull-right" ><span class="glyphicon glyphicon-remove-circle"></span></button></td>
							</tr>
							<tr>
								<td class="col-md-5">Filipino 1</td>
								<td class="col-md-6">Grade 7 - Pilot</td>
								<td class="col-md-1 "><button class="btn btn-info pull-right" ><span class="glyphicon glyphicon-remove-circle"></span></button></td>
							</tr>
							<tr>
								<td class="col-md-5">Science 1</td>
								<td class="col-md-6">Grade 7 - Pilot</td>
								<td class="col-md-1 "><button class="btn btn-info pull-right" ><span class="glyphicon glyphicon-remove-circle"></span></button></td>
							</tr>
							<tr>
								<td class="col-md-5">Mathematics 1</td>
								<td class="col-md-6">Grade 7 - Pilot</td>
								<td class="col-md-1 "><button class="btn btn-info pull-right" ><span class="glyphicon glyphicon-remove-circle"></span></button></td>
							</tr>
							<tr>
								<td class="col-md-5">Aralin Panlipunan 1</td>
								<td class="col-md-6">Grade 7 - Pilot</td>
								<td class="col-md-1 "><button class="btn btn-info pull-right" ><span class="glyphicon glyphicon-remove-circle"></span></button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>