<link rel="stylesheet" href="vendors/css/fixtable.css">
<div ng-controller="RecordBookController" ng-init="init()">
	<div class="row" ng-show="loads">
		<div class="col-md-6">
			<div class="list-group">
				<div class="list-group-item list-group-header">
					<label>Load</label>
				</div>
				<div class="list-group-canvas list-group-search-results">
				   <div class="list-group-item text-center" ng-if="SearchBox">
					<h4 class="list-group-item-heading">Search result(s) for <b><i>{{SearchBox}}</i></b>.</h4>
					<p class="list-group-item-text">
						Click the <span class="glyphicon glyphicon-search" aria-hidden="true"></span> to look further.
						Click the <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> to cancel.
					</p>
				  </div>
				  <div class="list-group-item text-center" ng-if="!FacultyLoads.length">
						Loading...
				   </div>
					<div class="list-group-item" ng-repeat="load in FacultyLoads | filter:filterFacultyLoads" ng-click="openRecordBook({limit:100,FacultyLoadId:load.FacultyLoad.id,ActivePeriod:ActivePeriod})">
						<h4 class="list-group-item-heading">{{load.Subject.description}}</h4>
						<p class="list-group-item-text">{{load.Subject.educ_level_id}} | {{load.Subject.year_level_id}} - {{load.Section.name}} - {{load.FacultyLoad.id}}</p>
					</div>
				</div>
				<div class="list-group-item list-group-search-box">
					<div class="input-group"> 
						<div class="input-group-btn" ng-click="confirmSearch()"><button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></div>
						<input type="text" class="form-control" ng-model="SearchBox" placeholder="Search" focus="true" />
						<div class="input-group-btn" ng-click="cancelSearch()"><button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button></div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="row" ng-show="erb">
		<div class="btn-group">
			<label class="btn btn-default btn-sm" ng-model="ActivePeriod" uib-btn-radio="'1'" ng-click="selectPeriod()">1st Period</label>
			<label class="btn btn-default btn-sm" ng-model="ActivePeriod" uib-btn-radio="'2'" ng-click="selectPeriod()">2nd Period</label>
			<label class="btn btn-default btn-sm" ng-model="ActivePeriod" uib-btn-radio="'3'" ng-click="selectPeriod()">3rd Period</label>
			<label class="btn btn-default btn-sm" ng-model="ActivePeriod" uib-btn-radio="'4'" ng-click="selectPeriod()">4th Period</label>
		</div>
		<div class="btn-group pull-right" uib-dropdown>
			<button type="button" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-export"></i> Export</button>
			<button type="button" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-send"></i> Send to CGPS</button>
			<button type="button" class="btn btn-default btn-sm" uib-dropdown-toggle>
				<i class="glyphicon glyphicon-print"></i> Print  <span class="caret"></span>
				<span class="sr-only">Split button!</span>
			</button>
			<ul class="uib-dropdown-menu pull-right" role="menu" aria-labelledby="split-button">
				<li><a href="#">Grade Sheet</a></li>
				<li><a href="#">Class Record</a></li>
			</ul>
		</div>
	</div><br/>
	<div class="row" ng-show="erb">
		<div class="col-md-12">
			<div id="demo" class="fixedTable row">
				<header class="fixedTable-header">
					<table class="table table-bordered">
						<thead>
							<tr >
								<th ng-repeat="c in Components" colspan="{{c.item_count}}">
									<div class=" btn-group btn-group-xs pull-right">
										<a class="btn btn-default" tooltip-placement="bottom" uib-tooltip="Add / Edit Measurable Item" ng-click="editMeasurable(c)"><i class="glyphicon glyphicon-edit"></i></a>
									</div>{{c.GeneralComponent.name}}
								</th>
								<th rowspan="2" class="text-center"><a uib-tooltip="Summary">SUM</a></th>
								<th rowspan="2" class="text-center"><a uib-tooltip="Quarterly Grade">Q.GR</a></th>
							</tr>
							<tr>
								<th class="text-center" ng-repeat="item in MeasurableItems">
									<a uib-tooltip="Perfect Score: {{item.MeasurableItem.perfect_score}}" tooltip-class="ps" ng-if="item.MeasurableItem.is_item">
										{{item.MeasurableItem.header}}	
									</a>
									<span ng-if="!item.MeasurableItem.is_item && !item.MeasurableItem.is_abbrev" >
										{{item.MeasurableItem.header}}	
									</span>
									<span ng-if="!item.MeasurableItem.is_item && item.MeasurableItem.is_abbrev" >
										<a uib-tooltip="{{item.MeasurableItem.tooltip}}">{{item.MeasurableItem.header}}	</a>
									</span>
								</th>
							</tr>
						</thead>
					</table>
				</header>
				<aside class="fixedTable-sidebar">
					<table class="table table-bordered">
						<tbody>
							<tr ng-repeat="sd in Students | filter:filterStudents">
								<td>
									<input readonly="readonly" type="text" ng-model="sd.Student.full_name" uib-popover="{{sd.Student.full_name}}" popover-trigger="mouseenter" class="form-control input-sm" style="text-overflow: ellipsis; border: none;">
								</td>
							</tr>
						</tbody>
					</table>
				</aside>
				<div class="fixedTable-body">
					<table class="table table-bordered">
						<tbody>
							<tr ng-repeat="student in Students | filter:filterStudents">
								<td ng-repeat="item in MeasurableItems" >
									<input type="text" class="form-control input-sm" ng-if="item.MeasurableItem.is_item">
									<span ng-if="!item.MeasurableItem.is_item"></span>
								</td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script type="text/ng-template" id="UpdateMeasurable.html">
		<div class="modal-header">
			<h3 class="modal-title">Update</h3>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-lg-6 ">

					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">{{componentName}}</h3>
						</div>
						<div class="panel-body">
							<div class="list-group">
								 <li class="list-group-item">
									Percentage
									<span class="label label-primary pull-right xs">{{percentage}} %</span>
								</li>
								<li class="list-group-item">
									Percent To Pass
									<span class="label label-warning pull-right xs">{{percentToPass}} %</span>
								</li>
								<li class="list-group-item">
									Base
									<span class="label label-info pull-right xs">{{base}}</span>
								</li>
								<li class="list-group-item">
									Ceiling
									<span class="label label-success pull-right xs">{{ceiling}}</span>
								</li>
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-lg-6">
					<div class="list-group-item" ng-show="State==='edit'">
						<table class="table table-bordered table-condensed table-sort">
							<thead>
								<tr>
									<th class="md text-center">Header</th>
									<th class="sm text-center">P.Score</th>
									<th class="text-center"><a class="btn btn-default" ng-click="updateState('sort')"><i class="glyphicon glyphicon-sort text-center"></i></a></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in MeasurableItems | filter:componentId">
									<td><input class="form-control input-sm md" maxlength="4" ng-model="item.MeasurableItem.header"></td>
									<td><input class="form-control input-sm sm" ng-model="item.MeasurableItem.perfect_score"></td>
									<td class="col-md-1"><button class="btn btn-danger" ng-click="removeItem($index,item.id)"><span class="glyphicon glyphicon-remove"></span></button></td>
								</tr>
								<tr>
									<td><input class="form-control input-sm md" maxlength="4" ng-model="NewItem.MeasurableItem.header"></td>
									<td><input class="form-control input-sm sm" ng-model="NewItem.MeasurableItem.perfect_score"></td>
									<td class="text-center">
										<a class="btn btn-success" ng-click="addNewItem(componentId)"><i class="glyphicon glyphicon-plus"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="list-group-item" ng-show="State==='sort'">
						<table ui-tree class="table table-bordered table-condensed table-sort">
							<thead>
								<tr>
									<th class="md text-center">Header</th>
									<th class="sm text-center">P.Score</th>
									<th class="text-center"><a class="btn btn-danger" ng-click="updateState('edit')"><i class="glyphicon glyphicon-remove text-center"></i></a></th>
								</tr>
							</thead>
							<tbody ui-tree-nodes ng-model="MeasurableItems">
								<tr ng-repeat="item in MeasurableItems | filter:componentId" ui-tree-node>
									<td><input class="form-control input-sm md" maxlength="4" ng-model="item.MeasurableItem.header"></td>
									<td><input class="form-control input-sm sm" ng-model="item.MeasurableItem.perfect_score"></td>
									<td class="col-md-1"><button class="btn btn-default" ui-tree-handle><span class="glyphicon glyphicon-sort"></span></button></td>
								</tr>
								<tr>
									<td colspan="2">
										<div class="help-text"><a href="" class="btn btn-xs btn-default disabled"><span class="glyphicon glyphicon-sort"></span></a> Click and drag to reorder.</div>
									</td>
									<td class="text-center">
										<a class="btn btn-success"><i class="glyphicon glyphicon-floppy-disk"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="button" ng-click="closeEdit()">Close</button>
			<button class="btn btn-primary" type="button" ng-click="confirmEdit()">Confirm</button>
		</div>
	</script>
	<script type="text/ng-template" id="TemplateModal.html">
		<div class="modal-header">
			<h3 class="modal-title">Initializing Template</h3>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-12">
					<ul class="nav nav-pills nav-wizard">
						<li ng-class="{active:ActiveStep===step.id}" ng-repeat="step in Steps" ng-click="updateStep(step)">
							<div ng-if="!$first" class="nav-wedge"></div>
							<a data-toggle="tab"><span class="badge">{{step.id}}</span> {{step.description}}</a>
							<div ng-if="!$last" class="nav-arrow"></div>
						</li>
					</ul>
				</div>	
				<div class="col-md-12">
					<button class="btn btn-primary btn-fab top right" ng-click="nextStep()">
					<span class="glyphicon " ng-class="{'glyphicon-chevron-right':ActiveStep!=3,'glyphicon-ok': ActiveStep===3}" aria-hidden="true"></span>
					</button>
					<div class="list-group" ng-show="ActiveStep===1">
						<div class="list-group-item list-group-header">
							<button class="btn btn-xs btn-danger"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
							<button class="btn btn-xs btn-warning" ng-click="prevStep()"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
							<span class="ng-binding">Select Template</span>
						</div>
						<div class="list-group-item ng-class:{active:tmp.Template.id===SelectedTemplate}" ng-repeat="tmp in Templates" ng-click="setSelectedTemplate(tmp.Template.id)">
							<h4 class="list-group-item-heading">{{tmp.Template.name}}</h4>
							<p class="list-group-item-text">School Year: {{tmp.SchoolYear.name}}</p>
						</div>
					</div>
					
					<div class="list-group" ng-show="ActiveStep===2">
						<div class="list-group-item list-group-header">
							<button class="btn btn-xs btn-danger" ng-click="cancelTemplate()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
							<button class="btn btn-xs btn-warning" ng-click="prevStep()"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
							<span class="ng-binding">Select Action</span>
						</div>
						<div class="list-group-item ng-class:{active:action.id===SelectedAction}" ng-repeat="action in Actions" ng-click="setSelectedAction(action)">
							<h4 class="list-group-item-heading"><i ng-class="action.icon"></i> {{action.title}}</h4>
							<p class="list-group-item-text">{{action.description}}</p>
						</div>
					</div>
					<div class="list-group" ng-show="ActiveStep===3">
						<div class="list-group-item list-group-header">
							<button class="btn btn-xs btn-danger"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
							<button class="btn btn-xs btn-warning" ng-click="prevStep()"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
						</div>
						<div class="list-group-canvas">
							<div class="list-group-item">
								<div class="empty-state">
									<div class="well">
										<div class="empty-state-icon">
											<i class="glyphicon glyphicon-thumbs-up"></i>
										</div>
										<h4>Almost there!</h4>
									</div>
									<div class="empty-state-help alert alert-info"> 
										<span class="empty-state-action-icon glyphicon glyphicon-ok"></span> Click to confirm.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
		</div>
	</script>
</div>
