<style>
	.no-padding{
		padding:0 !important;
	}
	
	/* Specify styling for tooltip contents */
	.tooltip.ps .tooltip-inner {
		color: #880000;
		background-color: #ffff66;
		box-shadow: 0 6px 12px rgba(0,0,0,.175);
	}
	/* Hide arrow */
	.tooltip.ps .tooltip-arrow {
		display: none;
	}
</style>
<link rel="stylesheet" href="app/assets/css/fixtable.css">
<div ng-controller="RecordBookController" ng-init="init()">
	
	<div class="row" ng-show="loads">
		<div class="col-md-6">
			<div class="list-group">
				<div class="list-group-item list-group-header">
					<label>Load</label>
				</div>
				<div class="list-group-canvas list-group-search-results">
				   <div class="list-group-item text-center" ng-if="SearchBox">
					<h4 class="list-group-item-heading">Search result(s) for <b><i>{{SearchBox}}</i></b>.</h4>
					<p class="list-group-item-text">
						Click the <span class="glyphicon glyphicon-search" aria-hidden="true"></span> to look further.
						Click the <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> to cancel.
					</p>
				  </div>
				  <div class="list-group-item text-center" ng-if="!FacultyLoads.length">
						Loading...
				   </div>
					<div class="list-group-item" ng-repeat="load in FacultyLoads | filter:filterFacultyLoads" ng-click="openRecordBook()">
						<h4 class="list-group-item-heading">{{load.subject}}</h4>
						<p class="list-group-item-text">{{load.year_level}} - {{load.section}}</p>
					</div>
				</div>
				<div class="list-group-item list-group-search-box">
					<div class="input-group"> 
						<div class="input-group-btn" ng-click="confirmSearch()"><button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></div>
						<input type="text" class="form-control" ng-model="SearchBox" placeholder="Search" focus="true" />
						<div class="input-group-btn" ng-click="cancelSearch()"><button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button></div>
					</div>
				  </div>
			</div>
		</div>
		
	</div>
	<div class="row" ng-show="erb">
		<div class="col-md-12">
			<div class="btn-group pull-right" role="group" >
			  <div class="btn-group" role="group">
				<button type="button" class="btn btn-default active">1st Period</button>
			  </div>
			  <div class="btn-group" role="group">
				<button type="button" class="btn btn-default">2nd Period</button>
			  </div>
			  <div class="btn-group" role="group">
				<button type="button" class="btn btn-default">3rd Period</button>
			  </div>
			  <div class="btn-group" role="group">
				<button type="button" class="btn btn-default">4th Period</button>
			  </div>
			</div>
		</div>
	</div><br/>
	<div class="row" ng-show="erb">
		<div class="col-md-12">
			<div id="demo" class="fixedTable row">
				<header class="fixedTable-header">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th colspan="13">
									<div class=" btn-group btn-group-xs pull-right">
										<a class="btn btn-default" tooltip-placement="bottom" uib-tooltip="Add Measurable Item"><i class="glyphicon glyphicon-plus-sign"></i></a>
										<a class="btn btn-default" tooltip-placement="bottom" uib-tooltip="Edit Measurable Item"><i class="glyphicon glyphicon-edit"></i></a>
									</div>Written Work
								</th>
								<th colspan="5">
									<div class=" btn-group btn-group-xs pull-right">
										<a class="btn btn-default" tooltip-placement="bottom" uib-tooltip="Add Measurable Item"><i class="glyphicon glyphicon-plus-sign"></i></a>
										<a class="btn btn-default" tooltip-placement="bottom" uib-tooltip="Edit Measurable Item"><i class="glyphicon glyphicon-edit"></i></a>
									</div>Performance Task
								</th>
								<th colspan="4" >
									<div class=" btn-group btn-group-xs pull-right">
										<a class="btn btn-default" tooltip-placement="bottom" uib-tooltip="Add Measurable Item"><i class="glyphicon glyphicon-plus-sign"></i></a>
										<a class="btn btn-default" tooltip-placement="bottom" uib-tooltip="Edit Measurable Item"><i class="glyphicon glyphicon-edit"></i></a>
									</div>Quarterly Assessment
								</th>
								<th rowspan="2" class="text-center"><a uib-tooltip="Summary">SUM</a></th>
								<th rowspan="2" class="text-center"><a uib-tooltip="Quarterly Grade">Q.GR</a></th>
							</tr>
							<tr>
								<th class="text-center"><a uib-tooltip="Perfect Score: 10" tooltip-class="ps">Q1</a></th>
								<th class="text-center"><a uib-tooltip="Perfect Score: 10" tooltip-class="ps">Q2</a></th>
								<th class="text-center"><a uib-tooltip="Perfect Score: 10" tooltip-class="ps">Q3</a></th>
								<th class="text-center"><a uib-tooltip="Perfect Score: 10" tooltip-class="ps">Q4</a></th>
								<th class="text-center"><a uib-tooltip="Perfect Score: 10" tooltip-class="ps">Q5</a></th>
								<th class="text-center"><a uib-tooltip="Perfect Score: 10" tooltip-class="ps">Q6</a></th>
								<th class="text-center"><a uib-tooltip="Perfect Score: 10" tooltip-class="ps">Q7</a></th>
								<th class="text-center"><a uib-tooltip="Perfect Score: 10" tooltip-class="ps">Q8</a></th>
								<th class="text-center"><a uib-tooltip="Perfect Score: 10" tooltip-class="ps">Q9</a></th>
								<th class="text-center"><a uib-tooltip="Perfect Score: 10" tooltip-class="ps">Q10</a></th>
								<th class="text-center">Total</th>
								<th class="text-center"><a uib-tooltip="Percentage Score">P.S</a></th>
								<th class="text-center"><a uib-tooltip="Weighted Score">W.S</a></th>
								<th class="text-center"><a uib-tooltip="Perfect Score: 100" tooltip-class="ps">Project</a></th>
								<th class="text-center"><a uib-tooltip="Perfect Score: 100" tooltip-class="ps">RCT.</a></th>
								<th class="text-center">Total</th>
								<th class="text-center"><a uib-tooltip="Percentage Score">P.S</a></th>
								<th class="text-center"><a uib-tooltip="Weighted Score">W.S</a></th>
								<th class="text-center"><a uib-tooltip="Perfect Score: 100" tooltip-class="ps">D.T</a> </th>
								<th class="text-center">Total</th>
								<th class="text-center"><a uib-tooltip="Percentage Score">P.S</a></th>
								<th class="text-center"><a uib-tooltip="Weighted Score">W.S</a></th>
							</tr>
						</thead>
					</table>
				</header>
				<aside class="fixedTable-sidebar">
					<table class="table table-bordered">
						<tbody>
							<tr ng-repeat="student in Students | filter:filterStudents">
								<td>
									<input disabled="disabled" type="text" class="form-control input-sm" ng-model="student.full_name">
								</td>
							</tr>
						</tbody>
					</table>
				</aside>
				<div class="fixedTable-body">
					<table class="table table-bordered">
						<tbody>
							<tr ng-repeat="student in Students | filter:filterStudents">
								<td><input type="text" class="form-control input-sm"></td>
								<td><input type="text" class="form-control input-sm"></td>
								<td><input type="text" class="form-control input-sm"></td>
								<td><input type="text" class="form-control input-sm"></td>
								<td><input type="text" class="form-control input-sm"></td>
								<td><input type="text" class="form-control input-sm"></td>
								<td><input type="text" class="form-control input-sm"></td>
								<td><input type="text" class="form-control input-sm"></td>
								<td><input type="text" class="form-control input-sm"></td>
								<td><input type="text" class="form-control input-sm"></td>
								<td></td>
								<td></td>
								<td></td>
								<td><input type="text" class="form-control input-sm"></td>
								<td><input type="text" class="form-control input-sm"></td>
								<td></td>
								<td></td>
								<td></td>
								<td><input type="text" class="form-control input-sm"></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
	
	<section id="modal">
		<div class="row">
			<div class="col-md-6 show-grid">
				<div>
					<script type="text/ng-template" id="myModalContent.html">
						<div class="modal-header">
							<h3 class="modal-title">I'm a modal!</h3>
						</div>
						<div class="modal-body">
						<ul>
							<li ng-repeat="item in items">
							<a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
							</li>
							</ul>
							Selected: <b>{{ selected.item }}</b>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
							<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
						</div>
					</script>
					<button type="button" class="btn btn-default" ng-click="open()">Open me!</button>
					<button type="button" class="btn btn-default" ng-click="open('lg')">Large modal</button>
					<button type="button" class="btn btn-default" ng-click="open('sm')">Small modal</button>
					<button type="button" class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>
					<div ng-show="selected">Selection from a modal: {{ selected }}</div>
				</div>
			</div>
		</div>
	</section>	
</div>